

<div style="margin-top:100px;height:95vh;padding:0;">
    <h4>NO CONTENT TO SHOW HTTP WEBSITES CANNOT BE SERVED OVER HTTPS SITES SECURITY PROCEDURE</h4>
    <a href="/clients" class="btn btn-primary">Click here to register new clients</a>
</div>
